body{
    background-color: #ff0000; /* define color de fondo*/
}
p{
    font-family: tohama; /*define una fuente*/
    font-size: 24px; /*difine el tamaño en 24 pixeles*/
    font-family: bold; /*define el texto en negrita*/
    text-align: center; /*difine alineacion centrada en texto*/
}